[Unit]
Description=Server 8000
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/Desktop/scripts/server
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=10
StandardOutput=file:/home/pi/Desktop/Logs/server/output.log
StandardError=file:/home/pi/Desktop/Logs/server/error.log
SyslogIdentifier=nodejs-server
[Install]
WantedBy=multi-user.target
